{% extends "layout.html" %}


{% block content %}
<h1 class="color">Acerca de Nosotros</h1><br>
<h7 class="color">Somos un equipo de desarrollo independiente completamente nuevo.</h7><br>
<h7 class="color">Buscamos obtener la mayor cantidad de experiencia en desarrollo de software y [No sé que poner aquí xD].</h7><br>
<h7 class="color">Ofrecemos nuestros conocimientos para desarrollar alguna alplicación que tengas en mente, ya sea web, híbrida o nativa.</h7><br><br>
<h5 class="color">¡Anímate! Somos una Excelente Opción</h5>
{% endblock %}